.oh-container {
  background-color: rgb(255,255,255);
  margin: 20px 50px;
  width: 570px;
}
.b-shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.oh-card {
  margin: 20px 20px;
}
.border-r {
  border-style: none solid none none;
  padding-right: 30px;
}

.main-oh-container {
  margin: 20px 0 0 0;
}
.add-oh {
  margin: 20px 0 0 0;
}
.j-sbtw {
  justify-content: space-between;
}
