<html>
<head>
  <meta charset="UTF-8">
  <title>Homework Manager</title>
  <!-- Actually don't need this
    <link rel="stylesheet" href="../../assets/stylesheets/pages/_index.scss">
  -->
</head>
<body style="background-color: rgb(254, 254, 255);">
  <div id='banner'>
    <h2> Your Homework Manager </h2>
    <div class='btn1'>
      <h4 style="color: rgb(0,0,0);"> <%= link_to 'See All Classes', '/courses' %> </h4>
    </div>
  </div>
</body>
</html>
