<h4><%= current_user.username %></h4>

<p>My courses</p>
<% current_user.courses.each do |c| %>
  <p><%= link_to c.name, course_path(c) %></p>
<% end %>

<p><%= link_to 'Add a class', new_course_path(@course) %></p>
