<h2>Edit this class</h2>
<%= form_for @course do |f| %>
  <div>
    <p>course name</p>
    <%= f.text_field :name, value: @course.name %>
  </div>
  <div>
    <p>office hour location</p>
    <%= f.text_field :oh_location, value: @course.oh_location %>
  </div>

  <%= f.submit %>
<% end %>
